p{
  text-align:justify;
  text-indent:5px;
}
img{
  float:left;
  margin-right: 1.5%;
}

.container{
  width:100%;
  max-width:960px;
  margin: 0 auto;
  clear: both;

}
#main-container{
    width:70%;
  }
#masthead{
  position: fixed;
  z-index:99;
  width:100%;
  margin:0 0 30px;
  overflow:auto;
  color:#fff;
  background:#fff;
  border-bottom: 2px solid #ccc;

  
}
.sidebar {
  float: right;
  width: 100%;
  max-width: 270px;
  padding: 30px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ddd;
}

h3,
.sidebar h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}
.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

